/*******************/
/*-RESPONSIVE FILE-*/
/*******************/

/*LG*/
@media screen and (max-width: 1200px){
    .card{
        width: 24%;
    }
}

/*MD*/
@media screen and (max-width: 990px){
    .card{
        width: 48%;
    }
    .playing-save{
        flex-direction: column;
    }

    /* bonus 1 */
    .footer-side{
        width: 150px;
    }
    .footer-player{
        width: calc(100% - 300px);
    }
    .list, .output{
        display: none;
    }
    .volume-bar{
        width: 70%;
    }
}


/*S*/
@media screen and (max-width: 768px){
    #logo{
        display: none;
    }

    #small-logo{
        display: block;
    }

    .hide-mobile, #main-sidelist .hide-mobile{
        display: none;
    }

    #bottom-sidebar hr{
        display: none;
    }

    .download-icon{
        margin-left: 2px;
        margin-right: 0;
    }

    .sidebar{
        width: 70px;
    }

    .content{
        width: calc(100% - 70px);
    }

    /* Bonus 2 */
    .footer-volume-control{
        display: none;
    }

    .footer-side{
        width: 200px;
    }

    .footer-player{
        width: calc(100% - 200px);
    }
}
