*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: white;
}

header{
    position: sticky;
    height: 75px;
    background-color: rgba(8,11,18,255,0.6);
    top: 0;
}

main{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #141922;
    display: flex;
    border-color: 3px solid gold;
}

.main-box{
    position: sticky;
    right: 0;
}

footer{
    height: 150px;
    background-color: #282828;
}

.sidebar-left{
    height: 100%;
    width: 250px;
    background-color: #000000;
    position: sticky;
    left: 0;
    margin: 0 auto;
}

.main-right{
    height: 100%;
    width: 85%;
}

.logo{
    padding: 20px;
}

.main-icons{
    flex-direction: column;
    padding: 20px;
}

.icon{
    display: flex;
    padding: 5px;
    
}

.i-text{
    padding-top: 5px;
    padding-left: 3px;
}

.icon img{
    width: 15%;
}

.pl-create{
    height: 30px;
    width: 30px;
    background-color: #A3A3A3;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    font-size: 30px;
}

.plus-section{
    display: flex;
    align-items: center;
}

.plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playlist{
    margin-left: 10px;
    padding-left: 15px;
}

.pl-list ul li, .pl-create, .grey{
    list-style-type: none;
    color: #757575;
    font-size: 20px;
}

.pl-word{
    font-size: 22px;
}

.sb-footer{
    position: sticky;
    bottom: 0;
}

.h-10{
    height: 10%;
}

.h-20{
    height: 20%;
}

.h-30{
    height: 30%;
}